QAbstractItemView
{
selection-background-color: rgb(125,123,123);
selection-color: rgb(250,249,247);

}
QWidget
{
  color: black;
  font-family: "IBM Plex Mono";
  background-color: rgb(250,249,247);
}


QTableView{
    border-width:0px;
    background-color: rgb(250,249,247);
}