QAbstractItemView
{
    selection-background-color: rgb(125,123,123);
    selection-color: %base%;

}
QWidget
{
  color: %text%;
  font-family: "Inter";
  background-color: %base%;
}

QObject
{
    alternate-background-color: %window%;
}


QTableView{
    border-width:0px;
    background-color: %base%;
}