QMenuBar{

    background-color: white;


}


QMenuBar::item:selected{
    background-color: rgb(125,123,123);
    color: rgb(250,249,247);
}


QMenu::item:selected{

    background-color: rgb(125,123,123);
    alternate-background-color: red;
    color: rgb(250,249,247);


}